<%-include("partials/header") %>
<div class="container">
    <div class="contentBlock">
    <h1>About Page</h1>
    <h4>We believe in travel - that it shapes and molds us into who we are and how we will become.</h4>
    <p>Exposure to new faces, place and cultures leads to a more fulfiling life. Our name was born out of this belief, and the ability to breath life into properties that may be otherwise overlooked.Today's modern is seeking newness and the familiar at once. Our collection of locally rooted hotels are designed to strike that balance.</p>
</div>
</div>
<%-include("partials/footer") %>