<%-include("partials/header") %>

    <main>
        <section class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p>Experience unparalleled luxury and exceptional hospitality at Casa Moreno Hotel. Nestled in the
                        heart of Claremont California, our hotel is the perfect destination for both leisure and
                        business travelers seeking a memorable stay.</p>
                    <h5>Accommodation:</h5>
                    <p>Indulge in our exquisitely designed rooms and suites, where comfort meets elegance. Each of our
                        spacious accommodations is thoughtfully appointed with modern amenities and stylish furnishings
                        to ensure a relaxing and enjoyable stay.</p>
                    <h5>Dining:</h5>
                    <p>Discover a world of culinary delights at our renowned restaurants. From exquisite fine dining to
                        casual eateries, our talented chefs create exceptional dishes using the finest locally sourced
                        ingredients. Savor a diverse range of flavors and experience gastronomic excellence at every
                        turn.</p>
                    <h5>Facilities and Services</h5>
                    <p>We pride ourselves on providing an array of world-class facilities and services to cater to your
                        every need. Unwind and rejuvenate in our state-of-the-art spa and wellness center, take a dip in
                        our sparkling swimming pool, or maintain your fitness routine in our fully equipped gym. Our
                        dedicated concierge team is always available to assist you with any requests, ensuring a
                        seamless and unforgettable stay.</p>
                    <h5>Events and Meetings</h5>
                    <p>Whether you're planning a corporate conference, a wedding celebration, or a social gathering, our
                        elegant event spaces offer the perfect setting for any occasion. With cutting-edge technology,
                        personalized service, and meticulous attention to detail, we guarantee a successful and
                        memorable event.</p>
                    <h5>Local Attractions:</h5>
                    <p>Claremont City in California is a vibrant destination filled with captivating attractions. From
                        historical landmarks and cultural treasures to bustling shopping districts and entertainment
                        venues, there's something for everyone to enjoy. Our hotel's convenient location provides easy
                        access to the city's most popular attractions, ensuring you can make the most of your stay.</p>
                    <h5>Exceptional Service:</h5>
                    <p>At Casa Moreno Hotel, we prioritize delivering exceptional service to our guests. Our dedicated
                        team
                        of professionals is committed to ensuring your comfort and satisfaction throughout your stay,
                        making your experience truly unforgettable.</p>
                    <h5>Book your stay:</h5>
                    <p>Ready to embark on a remarkable journey at [Hotel Name]? Book your stay now and let us provide
                        you with an extraordinary experience that will exceed your expectations.</p>

                    <p>Come and discover the perfect blend of luxury, comfort, and impeccable service at Casa Moreno Hotel.
                        We look forward to welcoming you soon!</p>
                </div>
                <div class="col-lg-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, voluptatem?
                    Impedit unde reprehenderit fugiat totam nisi cum labore quos iusto voluptate dolor autem
                    consequuntur modi, quo quam hic pariatur deleniti?</div>
            </div>

        </section>

    </main>
    </header>

    <%- include("partials/footer") %>