<%-include("partials/header")  %> 

<main>
    <section class="container">
        <div class="row">
            <div class="col-lg-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, ea perferendis. Architecto neque corporis quis provident eos. Doloremque, veritatis delectus unde ab, repudiandae optio provident, ut impedit hic architecto est.</div>
            <div class="col-lg-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, voluptatem? Impedit unde reprehenderit fugiat totam nisi cum labore quos iusto voluptate dolor autem consequuntur modi, quo quam hic pariatur deleniti?</div>
        </div>

    </section>

</main>
</header>





<%- include("partials/footer") %> 